DEBUG=False
SECRET_KEY=django-insecure-...
ALLOWED_HOSTS=celesteberries.twonum.org,canstorage.org,celestestorage.com,prod.c3s.twonum.dev

STATIC_ROOT=./staticfiles
STATIC_URL=/static/

MEDIA_ROOT=./media

DATABASE_URL=sqlite:////path/to/db.sqlite3

EMAIL_FROM=...
EMAIL_FROM_SERVER=...
EMAIL_CONTACT=...
EMAIL_BACKEND=console

EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
EMAIL_SMTP_HOST_USER=
EMAIL_SMTP_HOST_PASSWORD=
EMAIL_SMTP_USE_TLS=
EMAIL_SMTP_SSL_CERTFILE=
EMAIL_SMTP_SSL_KEYFILE=
EMAIL_SMTP_TIMEOUT=
