DEBUG=False
SECRET_KEY=django-insecure-...
ALLOWED_HOSTS=celesteberries.twonum.org,canstorage.org,celestestorage.com,prod.c3s.twonum.dev

STATIC_ROOT=./staticfiles
STATIC_URL=/static/

MEDIA_ROOT=./media

DATABASE_URL=sqlite:////path/to/db.sqlite3

EMAIL_FROM=...
EMAIL_FROM_SERVER=...
EMAIL_CONTACT=...
EMAIL_BACKEND=console

EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
EMAIL_SMTP_HOST_USER=
EMAIL_SMTP_HOST_PASSWORD=
EMAIL_SMTP_USE_TLS=
EMAIL_SMTP_SSL_CERTFILE=
EMAIL_SMTP_SSL_KEYFILE=
EMAIL_SMTP_TIMEOUT=

# Proxy file serving (also known as X-Accel-Redirect)
# Remember to pass headers if you do this! See the example Caddyfile.
# SET X-Content-Type-Options: nosniff IN YOUR PROXY!!!!
# and test your config to make sure it's not leaking objects.
#
# Always use /media/ if you're going to use a URL path.
# "media" is a reserved word (no risk of a can being named "media").
#
# For an example of a proxy config, see Caddyfile.
PROXY_FILE=False
PROXY_FILE_HEADER=X-Accel-Redirect
PROXY_FILE_PATH=/media/
# Final path:
# $PROXY_FILE_SERVE_HEADER: $PROXY_FILE_SERVE_PATH$media_path
